/* CSS Document */


#content li {
  padding-top: 5px;
  padding-bottom: 10px;
}

.navbar {
  border-radius: 0;
}

.navbar-inverse .navbar-toggle {
  color: #aaa;
  border-color: #aaa;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #aaa;
  color: #333;
}


#menu .panel-body > div {
  padding-bottom: 20px;
}

.enter-badge > div > div {
  padding: 15px 0;
}
.enter-badge .btn {
  font-size: 18px;
  padding: 15px 10px;
}
.enter-badge .btn-lg, .btn-lg.bigger {
  font-size: 24px;
  padding: 20px 10px;
}
.enter-badge .form-control {
  color: #000;
  font-weight: bold;
  font-size: 48px;
  text-align: center;
  padding: 5px 10px;
  line-height:1;
  height: auto;
  margin-bottom: 30px;
}

#orderDelivery input[type="radio"],
#orderDelivery input[type="checkbox"] {
  width: 20px;
  height: 20px; 
  margin-right: 10px;
}
#orderDelivery .form-control {
  margin-bottom: 25px;
}


@media (min-width: 992px) and (max-width: 1199px) {
  .panel-body.shift-info {
    height: 240px
  }
}
@media (max-width: 767px) {
  .panel-body.shift-info {
    height: auto;
  }
}
