<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="Rewriteto.cfm">
					<match url="^([a-z]+)/([a-z]+)" />
					<action type="Rewrite" url="/index.cfm?action={R:1}.{R:2}" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
				</rule>
				<rule name="Rewriteto index.cfm">
					<match url="^([a-z]+)/([a-z]+)/([a-z]+)/([0-9]+)" />
					<action type="Rewrite" url="/index.cfm?action={R:1}.{R:2}&amp;{R:3}={R:4}" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
				</rule>
				<rule name="Rewriteto.cfm default">
					<match url="^([a-z]+)" />
					<action type="Rewrite" url="/index.cfm?action={R:1}.default" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>
